/* global button style */
.btn {
	background: #4a148c;
	color: #fff;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	height: 36px;
	padding: 0 16px;
	vertical-align: middle;
	line-height: 36px;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
		0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.btn.primary {
	padding: 10px 15px;
	background-color: #cccccc;
	color: #4a148c;
	font-weight: bold;
}

.btn.social {
	padding: 10px 15px;
	font-weight: bold;
}

/* twitter share button */
.twitter {
	background-color: #1ca0f0;
}

/* facebook share button */
.facebook {
	background-color: #0676e8;
}

/* linkedin share button */
.linkedin {
	background: #0077b5;
}

.btn:hover {
	opacity: 0.8;
}
